---
const year = new Date().getFullYear()
---

<footer class="mx-auto mt-32 w-full max-w-container px-4 sm:px-6 lg:px-8">
    <div class="border-t border-slate-900/5 py-10">
        <div class="mt-3 text-center text-sm leading-6 text-slate-500">© {year} Justin Rowntree</div>
        <div class="mt-10 flex items-center justify-center space-x-4 text-sm font-semibold leading-6 text-slate-700">
            <a class="text-xs underline underline-offset-2" href="/"> Home</a>
            <div class="h-4 w-px bg-slate-500/20"></div>
            <div class="text-xs">Made with <a class="underline underline-offset-2" href="https://github.com/slamethendry/tinyrocket">Astro</a> and <a class="underline underline-offset-2" href="https://github.com/slamethendry/tinyrocket">Tiny Rocket</a></div>
        </div>
    </div>
</footer>

<script is:inline>
  document.getElementById("footer-year").innerText = new Date().getFullYear();
</script>