<header class="text-zinc-700 text-lg mt-20 mb-5 flex justify-between items-center">
    <a href="/">
        <p class="text-center text-3xl font-extrabold font-mono uppercase">
            Justin Rowntree
        </p>
        <p class="text-center font-mono uppercase">
            Game Programmer
        </p>
    </a>
    <nav class="">
        <a class="mx-1 underline underline-offset-2" href="/"> Home</a>
        <a class="mx-1 underline underline-offset-2" href="/blog"> Blog</a>
    </nav>
</header>
